container {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.container {
		width: 80%;
		margin: auto  10%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 70%;
		margin: auto 15%;
	}
}

.row {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0;
}

.center {
	justify-content: center;
	text-align: center;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
}

.col-1 {
	flex: 0 0 8.3333%;
	padding: 10px;
}

.col-2 {
	flex: 0 0 16.6666%;
	padding: 10px;
}

.col-3 {
	flex: 0 0 25%;
	padding: 10px;
}

.col-4 {
	flex: 0 0 33.3333%;
	padding: 10px;
}

.col-5 {
	flex: 0 0 41.6665;
	padding: 10px;
}

.col-6 {
	flex: 0 0 50%;
	padding: 10px;
}

.col-7 {
	flex: 0 0 58.3333%;
	padding: 10px;
}

.col-8 {
	flex: 0 0 66.6666%;
	padding: 10px;
}

.col-9 {
	flex: 0 0 75%;
	padding: 10px;
}

.col-10 {
	flex: 0 0 83.3333%;
	padding: 10px;
}

.col-11 {
	flex: 0 0 91.6666%;
	padding: 10px;
}

.col-12 {
	flex: 0 0 100%;
	padding: 10px;
}

/*

offsets 

*/
.col-offset-1 {
	margin: auto  8.3333%;
	padding: 10px;
}

.col-offset-2 {
	margin: auto  16.6666%;
	padding: 10px;
}

.col-offset-3 {
	margin: auto  25%;
	padding: 10px;
}

.col-offset-4 {
	margin: auto  33.3333%;
	padding: 10px;
}

.col-offset-5 {
	margin: auto  41.6665;
	padding: 10px;
}

.col-offset-6 {
	margin: auto  50%;
	padding: 10px;
}

.col-offset-7 {
	margin: auto  58.3333%;
	padding: 10px;
}

.col-offset-8 {
	margin: auto  66.6666%;
	padding: 10px;
}

.col-offset-9 {
	margin: auto  75%;
	padding: 10px;
}

.col-offset-10 {
	margin: auto  83.3333%;
	padding: 10px;
}

.col-offset-11 {
	margin: auto  91.6666%;
	padding: 10px;
}

.col-offset-12 {
	margin: auto  100%;
	padding: 10px;
}

@media (min-width: 768px) {
	.col-md-1 {
		flex: 0 0 8.3333%;
		padding: 10px;
	}

	.col-md-2 {
		flex: 0 0 16.6666%;
		padding: 10px;
	}

	.col-md-3 {
		flex: 0 0 25%;
		padding: 10px;
	}

	.col-md-4 {
		flex: 0 0 33.3333%;
		padding: 10px;
	}

	.col-md-5 {
		flex: 0 0 41.6665;
		padding: 10px;
	}

	.col-md-6 {
		flex: 0 0 50%;
		padding: 10px;
	}

	.col-md-7 {
		flex: 0 0 58.3333%;
		padding: 10px;
	}

	.col-md-8 {
		flex: 0 0 66.6666%;
		padding: 10px;
	}

	.col-md-9 {
		flex: 0 0 75%;
		padding: 10px;
	}

	.col-md-10 {
		flex: 0 0 83.3333%;
		padding: 10px;
	}

	.col-md-11 {
		flex: 0 0 91.6666%;
		padding: 10px;
	}

	.col-md-12 {
		flex: 0 0 100%;
		padding: 10px;
	}
}

/*
offsets
*/

@media (min-width: 768px) {
	.col-md-offset-1 {
		margin: auto 8.3333%;
		padding: 10px;
	}

	.col-md-offset-2 {
		margin: auto 16.6666%;
		padding: 10px;
	}

	.col-md-offset-3 {
		margin: auto 25%;
		padding: 10px;
	}

	.col-md-offset-4 {
		margin: auto 33.3333%;
		padding: 10px;
	}

	.col-md-offset-5 {
		margin: auto 41.6665;
		padding: 10px;
	}

	.col-md-offset-6 {
		margin: auto 50%;
		padding: 10px;
	}

	.col-md-offset-7 {
		margin: auto 58.3333%;
		padding: 10px;
	}

	.col-md-offset-8 {
		margin: auto 66.6666%;
		padding: 10px;
	}

	.col-md-offset-9 {
		margin: 75%;
		padding: 10px;
	}

	.col-md-offset-10 {
		margin: auto 83.3333%;
		padding: 10px;
	}

	.col-md-offset-11 {
		margin: auto 91.6666%;
		padding: 10px;
	}

	.col-md-offset-12 {
		margin: auto 100%;
		padding: 10px;
	}
}

@media (min-width: 992px) {
	.col-lg-1 {
		flex: 0 0 8.3333%;
		padding: 10px;
	}

	.col-lg-2 {
		flex: 0 0 16.6666%;
		padding: 10px;
	}

	.col-lg-3 {
		flex: 0 0 25%;
		padding: 10px;
	}

	.col-lg-4 {
		flex: 0 0 33.3333%;
		padding: 10px;
	}

	.col-lg-5 {
		flex: 0 0 41.6665;
		padding: 10px;
	}

	.col-lg-6 {
		flex: 0 0 50%;
		padding: 10px;
	}

	.col-lg-7 {
		flex: 0 0 58.3333%;
		padding: 10px;
	}

	.col-lg-8 {
		flex: 0 0 66.6666%;
		padding: 10px;
	}

	.col-lg-9 {
		flex: 0 0 75%;
		padding: 10px;
	}

	.col-lg-10 {
		flex: 0 0 83.3333%;
		padding: 10px;
	}

	.col-lg-11 {
		flex: 0 0 91.6666%;
		padding: 10px;
	}

	.col-lg-12 {
		flex: 0 0 100%;
		padding: 10px;
	}
}

/*
offset
*/
@media (min-width: 992px) {
	.col-lg-offset-1 {
		margin: auto  8.3333%;
		padding: 10px;
	}

	.col-lg-offset-2 {
		margin: auto  16.6666%;
		padding: 10px;
	}

	.col-lg-offset-3 {
		margin: auto  25%;
		padding: 10px;
	}

	.col-lg-offset-4 {
		margin: auto  33.3333%;
		padding: 10px;
	}

	.col-lg-offset-5 {
		margin: auto  41.6665;
		padding: 10px;
	}

	.col-lg-offset-6 {
		margin: auto  50%;
		padding: 10px;
	}

	.col-lg-offset-7 {
		margin: auto  58.3333%;
		padding: 10px;
	}

	.col-lg-offset-8 {
		margin: auto  66.6666%;
		padding: 10px;
	}

	.col-lg-offset-9 {
		margin: auto  75%;
		padding: 10px;
	}

	.col-lg-offset-10 {
		margin: auto  83.3333%;
		padding: 10px;
	}

	.col-lg-offset-11 {
		margin: auto  91.6666%;
		padding: 10px;
	}

	.col-lg-offset-12 {
		margin: auto  100%;
		padding: 10px;
	}
}

@media (min-width: 1200px) {
	.col-xl-1 {
		flex: 0 0 8.3333%;
		padding: 10px;
	}

	.col-xl-2 {
		flex: 0 0 16.6666%;
		padding: 10px;
	}

	.col-xl-3 {
		flex: 0 0 25%;
		padding: 10px;
	}

	.col-xl-4 {
		flex: 0 0 33.3333%;
		padding: 10px;
	}

	.col-xl-5 {
		flex: 0 0 41.6665%;
		padding: 10px;
	}

	.col-xl-6 {
		flex: 0 0 50%;
		padding: 10px;
	}

	.col-xl-7 {
		flex: 0 0 58.3333%;
		padding: 10px;
	}

	.col-xl-8 {
		flex: 0 0 66.6666%;
		padding: 10px;
	}

	.col-xl-9 {
		flex: 0 0 75%;
		padding: 10px;
	}

	.col-xl-10 {
		flex: 0 0 83.3333%;
		padding: 10px;
	}

	.col-xl-11 {
		flex: 0 0 91.6666%;
		padding: 10px;
	}

	.col-xl-12 {
		flex: 0 0 100%;
		padding: 10px;
	}
}

/*
offsets
*/

@media (min-width: 1200px) {
	.col-xl-offset-1 {
		margin: auto  8.3333%;
		padding: 10px;
	}

	.col-xl-offset-2 {
		margin: auto  16.6666%;
		padding: 10px;
	}

	.col-xl-offset-3 {
		margin: auto  25%;
		padding: 10px;
	}

	.col-xl-offset-4 {
		margin: auto  33.3333%;
		padding: 10px;
	}

	.col-xl-offset-5 {
		margin: auto  41.6665%;
		padding: 10px;
	}

	.col-xl-offset-6 {
		margin: auto  50%;
		padding: 10px;
	}

	.col-xl-offset-7 {
		margin: auto  58.3333%;
		padding: 10px;
	}

	.col-xl-offset-8 {
		margin: auto  66.6666%;
		padding: 10px;
	}

	.col-xl-offset-9 {
		margin: auto  75%;
		padding: 10px;
	}

	.col-xl-offset-10 {
		margin: auto  83.3333%;
		padding: 10px;
	}

	.col-xl-offset-11 {
		margin: auto  91.6666%;
		padding: 10px;
	}

	.col-xl-offset-12 {
		margin: auto  100%;
		padding: 10px;
	}
}


